@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #192a56;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #0097e6; /* puntos bottom del carrusel*/
}

@layer utilities {
  .text-balanced {
    text-wrap: balance;
  }
}